body {
    background-color: #C77300;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 15vh minmax(80vh, auto) 5vh;
    grid-template-areas:
        "header"
        "main"
        "footer";
}






/*Ini Cabesario/Header do site =navPages*/

#navPages {
    width: 100vw;
    grid-area: header;
    background-color: #7300C7;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    display: grid;
    grid-template-rows: 10vh 5vh;
    grid-template-areas:
        "Logo"
        "Menu";
}

#navPages div {
    display: flex;
    justify-content: center;
}

#navPages div div {
    flex-direction: column;
    font-size: 2cqh;
}

#navPages img {
    height: 10cqh;
    width: auto;
}

#navPages ul {
    grid-area: Menu;
    list-style-type: none;
    overflow: hidden;
    background-color: #00C773;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#navPages li {
    float: left;
}

#navPages li a {
    display: block;
    height: 5cqh;
    color: white;
    text-align: center;
    font-size: 2vh;
    padding: 1.25vh 1.1cqw;
    text-decoration: none;
}

#navPages li a:hover {
    background-color: #004B2B;
}

/*Ini Rodapé/Footer do site =fotPages*/

#fotPages {
    grid-area: footer;
    background-color: #70887E;
    color: whitesmoke;
    border: 1px solid whitesmoke;
}